body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:759px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:233px;
  width:444px;
  height:360px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:423px;
  width:155px;
  height:22px;
  font-size:18px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:479px;
  width:59px;
  height:22px;
  font-size:18px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:473px;
  width:313px;
  height:28px;
}
#u160_input {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:568px;
  width:270px;
  height:17px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:289px;
  width:327px;
  height:92px;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:0px;
  width:109px;
  height:30px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:0px;
  width:109px;
  height:30px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:109px;
  height:30px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:30px;
  width:109px;
  height:30px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:30px;
  width:109px;
  height:30px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:109px;
  height:32px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:60px;
  width:109px;
  height:32px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:60px;
  width:109px;
  height:32px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:251px;
  width:300px;
  height:22px;
}
#u172_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u172_input:disabled {
  color:grayText;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:420px;
  width:313px;
  height:25px;
}
#u173_input {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:326px;
  width:44px;
  height:19px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:355px;
  width:44px;
  height:19px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:326px;
  width:44px;
  height:19px;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:355px;
  width:44px;
  height:19px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:521px;
  width:58px;
  height:26px;
  font-size:18px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:521px;
  width:58px;
  height:26px;
  font-size:18px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:22px;
  width:779px;
  height:140px;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:20px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:0px;
  width:181px;
  height:20px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:177px;
  word-wrap:break-word;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:0px;
  width:130px;
  height:20px;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:0px;
  width:130px;
  height:20px;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:0px;
  width:130px;
  height:20px;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:0px;
  width:129px;
  height:20px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:79px;
  height:30px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:20px;
  width:181px;
  height:30px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:20px;
  width:130px;
  height:30px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:20px;
  width:130px;
  height:30px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:20px;
  width:130px;
  height:30px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:20px;
  width:129px;
  height:30px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:79px;
  height:30px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:50px;
  width:181px;
  height:30px;
  color:#000000;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:50px;
  width:130px;
  height:30px;
  color:#000000;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:50px;
  width:130px;
  height:30px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:50px;
  width:130px;
  height:30px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:50px;
  width:129px;
  height:30px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:79px;
  height:30px;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:80px;
  width:181px;
  height:30px;
  color:#000000;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:80px;
  width:130px;
  height:30px;
  color:#000000;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:80px;
  width:130px;
  height:30px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:80px;
  width:130px;
  height:30px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:80px;
  width:129px;
  height:30px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:79px;
  height:30px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:110px;
  width:181px;
  height:30px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:110px;
  width:130px;
  height:30px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:110px;
  width:130px;
  height:30px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:110px;
  width:130px;
  height:30px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:110px;
  width:129px;
  height:30px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:181px;
  width:115px;
  height:29px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:177px;
  width:85px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:182px;
  width:115px;
  height:29px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:179px;
  width:85px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:177px;
  width:67px;
  height:40px;
  font-size:18px;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:63px;
  word-wrap:break-word;
}
