body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:843px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#000000;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:43px;
  width:268px;
  height:31px;
  font-size:36px;
  color:#000000;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:130px;
  width:65px;
  height:25px;
  font-size:16px;
  color:#000000;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:130px;
  width:183px;
  height:25px;
}
#u115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:197px;
  width:65px;
  height:25px;
  font-size:16px;
  color:#000000;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:197px;
  width:183px;
  height:25px;
}
#u117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:284px;
  width:100px;
  height:16px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u118_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:284px;
  width:100px;
  height:16px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u119_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:354px;
  width:86px;
  height:25px;
}
#u120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:284px;
  width:100px;
  height:16px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u121_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:284px;
  width:100px;
  height:16px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u122_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:354px;
  width:86px;
  height:25px;
}
#u123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:22px;
  width:200px;
  height:200px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
